<div class="page-header">
	<h4>Post Web Service </h4>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Web Service Post</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div role="alert" class="alert alert-danger" 
					ng-show="userForm.name.$dirty && userForm.name.$invalid 
					|| userForm.age.$dirty && userForm.age.$invalid 
					|| userForm.login.$dirty && userForm.login.$invalid 
					|| contactForm.password.$dirty && contactForm.password.$invalid 
					|| contactForm.email.$dirty && contactForm.email.$invalid 
					|| contactForm.email.$dirty && contactForm.email.$invalid">
					<span ng-show="userForm.name.$error.minlength && userForm.name.$dirty">The <strong>name</strong> is too short.<br/></span>
					<span ng-show="userForm.name.$error.required && userForm.name.$dirty">The <strong>name</strong> shouldn't be left empty.<br/></span>
					<span ng-show="userForm.age.$error.number && userForm.age.$dirty">The <strong>age</strong> must be a number.<br/></span>
					<span ng-show="userForm.age.$error.required && userForm.age.$dirty">The <strong>age</strong> field shouldn't be left empty.<br/></span>
					<span ng-show="userForm.login.$error.required && userForm.login.$dirty">The <strong>login</strong> shouldn't be left empty.<br/></span>
					<span ng-show="userForm.password.$error.required && userForm.password.$dirty">The <strong>password</strong> shouldn't be left empty.<br/></span>
					<span ng-show="userForm.password.$error.minlength && userForm.password.$dirty">The <strong>password</strong> has mimimum of 6 characters.<br/></span>
					<span ng-show="userForm.email.$error.required && userForm.email.$dirty">The <strong>login</strong> shouldn't be left empty.<br/></span>
				</div>
				<form ng-submit="createUser(user)" class="form-horizontal" role="form" name="userForm">
					<div class="form-group" ng-class="{'has-error' : userForm.name.$dirty && userForm.name.$invalid}">
					    <label for="user-name" class="col-sm-2 control-label">Name</label>
					    <div class="col-sm-6">
							<input type="text" name="name" id="user-name" class="form-control" ng-model="user.name" placeholder="Name..." ng-required="true" ng-minlength="5"/>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error' : userForm.age.$dirty && userForm.age.$invalid}">
					    <label for="user-age" class="col-sm-2 control-label">Age</label>
					    <div class="col-sm-6">
							<input type="number" name="age" id="user-age" class="form-control" ng-model="user.age" placeholder="Age..." ng-required="true"/>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error' : userForm.login.$dirty && userForm.login.$invalid}">
					    <label for="user-name" class="col-sm-2 control-label">Login</label>
					    <div class="col-sm-6">
							<input type="text" name="login" id="user-login" class="form-control" ng-model="user.login" placeholder="Login..." ng-required="true" ng-minlength="5"/>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error' : userForm.password.$dirty && userForm.password.$invalid}">
					    <label for="user-name" class="col-sm-2 control-label">Senha</label>
					    <div class="col-sm-6">
							<input type="password" name="password" id="user-password" class="form-control" ng-model="user.password" placeholder="Senha..." ng-required="true" ng-minlength="6"/>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error' : userForm.email.$dirty && userForm.email.$invalid}">
					    <label for="user-name" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-6">
							<input type="email" name="email" id="user-email" class="form-control" ng-model="user.email" placeholder="Email..." ng-required="true"/>
						</div>
					</div>
					<div class="col-sm-6">
						<button class="btn btn-primary" ng-disabled="userForm.$invalid" >Criar Usuário</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
